  /////////////
 /// BINDS ///
/////////////

binds {
// =========
// workspace
// =========
    Mod+1 hotkey-overlay-title="Ir al espacio de trabajo 1" { focus-workspace 1; }
    Mod+2 hotkey-overlay-title="Ir al espacio de trabajo 2" { focus-workspace 2; }
    Mod+3 hotkey-overlay-title="Ir al espacio de trabajo 3" { focus-workspace 3; }
    Mod+4 hotkey-overlay-title="Ir al espacio de trabajo 4" { focus-workspace 4; }
    Mod+5 hotkey-overlay-title="Ir al espacio de trabajo 5" { focus-workspace 5; }
    Mod+6 hotkey-overlay-title="Ir al espacio de trabajo 6" { focus-workspace 6; }
    Mod+7 hotkey-overlay-title="Ir al espacio de trabajo 7" { focus-workspace 7; }
    Mod+8 hotkey-overlay-title="Ir al espacio de trabajo 8" { focus-workspace 8; }
    Mod+9 hotkey-overlay-title="Ir al espacio de trabajo 9" { focus-workspace 9; }

    Mod+Period hotkey-overlay-title="Ir al espacio de trabajo anterior"  { focus-workspace-down; }
    Mod+Comma  hotkey-overlay-title="Ir al espacio de trabajo siguiente" { focus-workspace-up; }

    Mod+Shift+1 hotkey-overlay-title="Mover ventana al espacio de trabajo 1" { move-column-to-workspace 1; }
    Mod+Shift+2 hotkey-overlay-title="Mover ventana al espacio de trabajo 2" { move-column-to-workspace 2; }
    Mod+Shift+3 hotkey-overlay-title="Mover ventana al espacio de trabajo 3" { move-column-to-workspace 3; }
    Mod+Shift+4 hotkey-overlay-title="Mover ventana al espacio de trabajo 4" { move-column-to-workspace 4; }
    Mod+Shift+5 hotkey-overlay-title="Mover ventana al espacio de trabajo 5" { move-column-to-workspace 5; }
    Mod+Shift+6 hotkey-overlay-title="Mover ventana al espacio de trabajo 6" { move-column-to-workspace 6; }
    Mod+Shift+7 hotkey-overlay-title="Mover ventana al espacio de trabajo 7" { move-column-to-workspace 7; }
    Mod+Shift+8 hotkey-overlay-title="Mover ventana al espacio de trabajo 8" { move-column-to-workspace 8; }
    Mod+Shift+9 hotkey-overlay-title="Mover ventana al espacio de trabajo 9" { move-column-to-workspace 9; }

    Mod+Shift+Period hotkey-overlay-title="Mover ventana al espacio de trabajo anterior"  { move-window-to-workspace-down; }
    Mod+Shift+Comma  hotkey-overlay-title="Mover ventana al espacio de trabajo siguiente" { move-window-to-workspace-up; }

// ============
// window focus
// ============
    Mod+Left  hotkey-overlay-title="Enfocar ventana de la izquierda" { focus-column-left; }
    Mod+Right hotkey-overlay-title="Enfocar ventana de la derecha"   { focus-column-right; }
    Mod+Down  hotkey-overlay-title="Enfocar ventana de abajo"        { focus-window-down; }
    Mod+Up    hotkey-overlay-title="Enfocar ventana de arriba"       { focus-window-up; }

    Mod+A hotkey-overlay-title="Enfocar primera ventana" { focus-column-first; }
    Mod+S hotkey-overlay-title="Enfocar ultima ventana"  { focus-column-last; }

// ===========
// move window
// ===========
    Mod+Shift+Left  hotkey-overlay-title="Mover ventana a la izquierda" { move-column-left; }
    Mod+Shift+Right hotkey-overlay-title="Mover ventana a la derecha"   { move-column-right; }
    Mod+Shift+Down  hotkey-overlay-title="Mover ventana hacia abajo"    { move-window-down; }
    Mod+Shift+Up    hotkey-overlay-title="Mover ventana hacia arriba"   { move-window-up; }

    Mod+Ctrl+Left  hotkey-overlay-title="Mover Ventana flotante a la izquierda de la pantalla" { spawn-sh "~/.config/scripts/move_float_niri.sh left 10 0"; }
    Mod+Ctrl+Right hotkey-overlay-title="Mover Ventana flotante a la derecha de la pantalla"   { spawn-sh "~/.config/scripts/move_float_niri.sh right 10 0"; }
    Mod+Ctrl+Down  hotkey-overlay-title="Mover Ventana flotante hacia abajo de la pantalla"    { spawn-sh "~/.config/scripts/move_float_niri.sh down 10 30"; }
    Mod+Ctrl+Up    hotkey-overlay-title="Mover Ventana flotante hacia arriba de la pantalla"   { spawn-sh "~/.config/scripts/move_float_niri.sh up 10 1"; }

    Mod+Shift+A hotkey-overlay-title="Mover ventana al principio" { move-column-to-first; }
    Mod+Shift+S hotkey-overlay-title="Mover ventana al final"     { move-column-to-last; }

    Mod+C hotkey-overlay-title="Mover ventana al centro de la Pantalla"           { center-window; }
    Mod+V hotkey-overlay-title="Mover ventanas visibles al centro de la pantalla" { center-visible-columns; }

// =============
// resize window
// =============
    Mod+Minus       hotkey-overlay-title="Redimensionar ventana disminuir ancho"  { set-column-width "-10%"; }
    Mod+Plus        hotkey-overlay-title="Redimensionar ventana aumentar ancho"   { set-column-width "+10%"; }
    Mod+Shift+Minus hotkey-overlay-title="Redimensionar ventana disminuir altura" { set-window-height "-10%"; }
    Mod+Shift+Plus  hotkey-overlay-title="Redimensionar ventana aumentar altura"  { set-window-height "+10%"; }

    Mod+Touchpadscrollleft  hotkey-overlay-title="Redimensionar ventana disminuir ancho"  { set-column-width "+1%"; }
    Mod+Touchpadscrollright hotkey-overlay-title="Redimensionar ventana aumentar ancho"   { set-column-width "-1%"; }
    Mod+Touchpadscrolldown  hotkey-overlay-title="Redimensionar ventana aumentar altura"  { set-window-height "+1%"; }
    Mod+Touchpadscrollup    hotkey-overlay-title="Redimensionar ventana disminuir altura" { set-window-height "-1%"; }

    Mod+R        hotkey-overlay-title="Redimensionar ancho ventana"  { switch-preset-column-width; }
    Mod+T        hotkey-overlay-title="Redimensionar altura ventana" { switch-preset-window-height; }
    Mod+Shift+R  hotkey-overlay-title="Resetear altura ventana"      { reset-window-height; }

    Mod+M       hotkey-overlay-title="Maximizar ventana"            { maximize-column; }
    Mod+Shift+M hotkey-overlay-title="Pantalla completa"            { fullscreen-window; }
    Mod+Ctrl+M  hotkey-overlay-title="Pantalla completa(Fake)"      { toggle-windowed-fullscreen; }
    Mod+Alt+M   hotkey-overlay-title="Maximizar ventana sin bordes" { maximize-window-to-edges; }

// ==============
// tabbed windows
// ==============
    Mod+P hotkey-overlay-title="Alternar al modo pestañas"               { toggle-column-tabbed-display; }
    Mod+O hotkey-overlay-title="Añadir ventana de la derecha"            { consume-window-into-column; }
    Mod+I hotkey-overlay-title="Expulsar ventana a la derecha"           { expel-window-from-column; }
    Mod+H hotkey-overlay-title="Añadir/Expulsar ventana de la izquierda" { consume-or-expel-window-left; }
    Mod+L hotkey-overlay-title="Añadir/Expulsar ventana de la derecha"   { consume-or-expel-window-right; }

// ========
// floating
// ========
    Mod+F       hotkey-overlay-title="Ventana flotante"         { toggle-window-floating; }
    Mod+Shift+F hotkey-overlay-title="Enfocar ventana flotante" { switch-focus-between-floating-and-tiling; }

// =============
// miscellaneous
// =============
    Mod+Q           hotkey-overlay-title="Cerrar ventana" repeat=false { close-window; }
    Mod+Escape      hotkey-overlay-title="Vista general"  repeat=false { toggle-overview; }
    Mod+Ctrl+Escape hotkey-overlay-title="Salir niri"     repeat=false { quit; }
    Mod+F1          hotkey-overlay-title="Buscar atajos"  repeat=false { spawn-sh "kitty --class niri-keys-search ~/.config/scripts/cheatsheet_niri.sh"; }

// ============
// applications
// ============
    Mod+Return  hotkey-overlay-title="Terminal"               repeat=false { spawn-sh "kitty fish"; }
    Mod+B       hotkey-overlay-title="Google chrome"          repeat=false { spawn "google-chrome-stable"; }
    Mod+Shift+B hotkey-overlay-title="Firefox"                repeat=false { spawn "firefox"; }
    Mod+E       hotkey-overlay-title="Explorador de archivos" repeat=false { spawn "nautilus"; }

// =============
// noctalia
// =============
    Mod+Space        hotkey-overlay-title="Abrir lanzador de aplicaciones"           repeat=false { spawn-sh "noctalia msg panel-toggle launcher"; }
    Mod+Shift+Escape hotkey-overlay-title="Abrir menú de sesión"                     repeat=false { spawn-sh "noctalia msg panel-toggle session"; }
    Mod+Shift+L      hotkey-overlay-title="Bloquear pantalla"                        repeat=false { spawn-sh "noctalia msg session lock"; }
    Mod+N            hotkey-overlay-title=" Abrir centro de notificaciones"          repeat=false { spawn-sh "noctalia msg panel-toggle control-center notifications"; }
    Mod+Shift+N      hotkey-overlay-title="Borrar todas las notificaciones"          repeat=false { spawn-sh "noctalia msg notification-clear-history"; }
    Mod+Shift+C      hotkey-overlay-title="Abrir centro de control"                  repeat=false { spawn-sh "noctalia msg panel-toggle control-center"; }
    Mod+Ctrl+C       hotkey-overlay-title="Abrir Calendario"                         repeat=false { spawn-sh "noctalia msg panel-toggle control-center calendar"; }
    Mod+W            hotkey-overlay-title="Abrir selector de fondo de pantalla"      repeat=false { spawn-sh "noctalia msg panel-toggle wallpaper"; }
    Mod+Shift+W      hotkey-overlay-title="Cambiar fondo de pantalla aleatoriamente" repeat=false { spawn-sh "noctalia msg wallpaper-random"; }
    Mod+Z            hotkey-overlay-title="Alternar caffeine"                        repeat=false { spawn-sh "noctalia msg caffeine-toggle"; }
    Mod+Shift+Z      hotkey-overlay-title="Abrir portapapeles"                       repeat=false { spawn-sh "noctalia msg panel-toggle clipboard"; }
    Mod+X            hotkey-overlay-title="Alternar barra de estado"                 repeat=false { spawn-sh "noctalia msg bar-toggle"; }
    Mod+Shift+X      hotkey-overlay-title="Abrir configuración de noctalia"          repeat=false { spawn-sh "noctalia msg settings-toggle"; }

// ==========
// multimedia
// ==========
    Xf86audioraisevolume hotkey-overlay-title="Subir volumen" allow-when-locked=true { spawn-sh "noctalia msg volume-up 5" ; }
    Xf86audiolowervolume hotkey-overlay-title="Bajar volumen" allow-when-locked=true { spawn-sh "noctalia msg volume-down 5"; }

    Xf86audiomute    hotkey-overlay-title="Silenciar volumen"   repeat=false allow-when-locked=true { spawn-sh "noctalia msg volume-mute"; }
    Xf86audiomicmute hotkey-overlay-title="Silenciar microfono" repeat=false allow-when-locked=true { spawn-sh "noctalia msg mic-mute"; }

    Xf86monbrightnessup   hotkey-overlay-title="Subir brillo" allow-when-locked=true { spawn-sh "noctalia msg brightness-up 5"; }
    Xf86monbrightnessdown hotkey-overlay-title="Bajar brillo" allow-when-locked=true { spawn-sh "noctalia msg brightness-down 5"; }

    Xf86audioplay  hotkey-overlay-title="Reproducir/Pausar multimedia" repeat=false allow-when-locked=true { spawn-sh "noctalia msg media toggle"; }
    Xf86audiostop  hotkey-overlay-title="Detener multimedia"           repeat=false allow-when-locked=true { spawn-sh "noctalia msg media stop"; }
    Xf86audioprev  hotkey-overlay-title="Pista anterior"               repeat=false allow-when-locked=true { spawn-sh "noctalia msg media previous"; }
    Xf86audionext  hotkey-overlay-title="Pista siguiente"              repeat=false allow-when-locked=true { spawn-sh "noctalia msg media next"; }

    Print       hotkey-overlay-title="Capturar ventana"       repeat=false { screenshot-window; }
    Shift+Print hotkey-overlay-title="Capturar pantalla"      repeat=false { screenshot-screen; }
    Ctrl+Print  hotkey-overlay-title="Capturar por selección" repeat=false { screenshot; }

}

  //////////////////////
 /// RECENT WINDOWS ///
//////////////////////

recent-windows {

    binds {
        Super+Tab       hotkey-overlay-title="Siguiente ventana general"         { next-window     scope="all"; }
        Super+Shift+Tab hotkey-overlay-title="Anterior ventana general"          { previous-window scope="all"; }
        Alt+Tab         hotkey-overlay-title="Siguiente ventana de la misma app" { next-window     scope="all" filter="app-id"; }
        Alt+Shift+Tab   hotkey-overlay-title="Anterior ventana de la misma app"  { previous-window scope="all" filter="app-id"; }
    }

}
