  /////////////////////
 /// MISCELLANEOUS ///
/////////////////////

spawn-sh-at-startup "qs -c noctalia-shell"
spawn-sh-at-startup "~/.config/scripts/alert_battery.sh"
prefer-no-csd
screenshot-path "~/Imágenes/Capturas de pantalla/Captura_%Y-%m-%d %H-%M-%S.png"

environment {
    GDK_BACKEND "wayland,x11";

    QT_QPA_PLATFORM "wayland;xcb"
    QT_QPA_PLATFORMTHEME "qt6ct"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    QT_MEDIA_BACKEND "ffmpeg"

    WAYLAND_DISPLAY "wayland-1"
    SDL_VIDEODRIVER "wayland"
    MOZ_ENABLE_WAYLAND "1"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    _JAVA_AWT_WM_NONREPARENTING "1"

    // Intel VA-API (Ivy Bridge — driver legacy)
    LIBVA_DRIVER_NAME "i965"

    EDITOR "helix"

    // Remove a variable by using null as the value:
    // DISPLAY null
}

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
    hide-when-typing
    hide-after-inactive-ms 10000
}

overview {
    zoom 0.5
    backdrop-color "#777777"
    workspace-shadow {
        // off
    }
}

xwayland-satellite {
    // off
    path "xwayland-satellite"
}

clipboard {
    // disable-primary
}

hotkey-overlay {
    skip-at-startup
    // hide-not-bound
    // disable-failed
}
